@media only screen and (min-width: 32rem) {
  nav ul {
    display: flex;
    flex-direction: row; 
    gap: 1rem;          
    margin-top: 0;       
  }

  #hamburger {
    display: none;       
  }
}


  .container {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    max-width: 1000px;
  }

