/* ----------------------------
   Large Screen Styles
---------------------------- */
@media only screen and (min-width: 32rem) {

  nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  #hamburger {
    display: none;
  }

  /* Main container grid layout */
  .container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    max-width: 1000px;
    margin: 0 auto 2rem auto;
  }
}